1st CA -- 3rd Spettember

## Rock paper and sesor game with computer with random function

In [8]:
import random

def rock_paper_scissor(user,com):
    if user == com:
        print(f"user: {user} \ncomputer: {com}\nso Tie")
    elif user == 1 and com == 3:
        print(f"user: {user} \ncomputer: {com}\nso User won")
    elif user == 2 and com == 1:
        print(f"user: {user} \ncomputer: {com}\nso User won")
    elif user == 3 and com == 2:
        print(f"user: {user} \ncomputer: {com}\nso User won")
    else:
        print(f"user : {user} \ncomputer: {com}\nso Computer won")

user = int(input("Enter 1 for Rock || 2 for paper || 3 for scissor:"))

com = random.randint(1,3)

print(rock_paper_scissor(user,com))

user: 1
computer: 1
so Tie
None

## Strings

string is sequence of charecter

everything in python is object

string is **Umtable**

In [10]:
s1 = 'Hello'
s2 = "There"

In [11]:
s1 + s2

'HelloThere'

In [13]:
s3 = '13'
type(s3)

str

In [15]:
a = 12

s3 + a

TypeError: can only concatenate str (not "int") to str

In [17]:
int(s3) + a

25

In [25]:
s4 = input("Enter integer number:")
print(type(s4))
print(s4)

<class 'str'>
45

In [26]:
int(s4)
type(s4)

str

In [27]:
float(s4)
type(s4)

str

In [21]:
s1 * 10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

## Indexing of string
- 0 to (n-1)  
- n to -1
---

0  1  2  3  4  5

b  a  n  a  n  a

-6 -5 -4 -3 -2 -1

In [28]:
fruit = "banana"
fruit[0]

'b'

In [29]:
fruit[-1]

'a'

In [30]:
len(fruit)

6

Loop through the string

In [47]:
for i in fruit:
    print(i)

b
a
n
a
n
a

In [48]:
for i in fruit:
    print(i,end=" ")

b a n a n a

In [46]:
for i in range(len(fruit)):
    print(f"{i} in {fruit[i]}")

0 in b
1 in a
2 in n
3 in a
4 in n
5 in a

Slicing
- index: 0 to n-1
- index: n to -1

In [51]:
fruit[1:5]

'anan'

In [52]:
fruit[0:]

'banana'

In [53]:
fruit[:]

'banana'

In [55]:
fruit[:3]

'ban'

In [56]:
fruit[:-1]

'banan'

In [57]:
fruit[:-2]

'bana'

In [61]:
dir(fruit)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## **in** operator

In [68]:
"Good" in fruit

False

In [69]:
"b" in fruit

True

In [70]:
"ban" in fruit

True

In [75]:
fruit.find("a")

1

In [76]:
a = "Hello there good morning"

In [77]:
a.find("good")

12

if word is not in string then it always return -1

In [78]:
a.find("v")

-1

In [79]:
a.upper()

'HELLO THERE GOOD MORNING'

In [80]:
a.lower()

'hello there good morning'

In [84]:
a.capitalize()

'Hello there good morning'

In [86]:
a.title()

'Hello There Good Morning'

In [87]:
"the boy in the car".title()

'The Boy In The Car'

In [89]:
a.replace("good","wanderfull")

'Hello there wanderfull morning'

In [90]:
b = '   Hello   LPU   '
b

'   Hello   LPU   '

## Strip

In [92]:
b.lstrip()

'Hello   LPU   '

In [93]:
b.rstrip()

'   Hello   LPU'

In [94]:
b.strip()

'Hello   LPU'

## Homework

- find domain name from given string

In [117]:
s7 = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

In [118]:
s7[s7.find("@")+1:s7.find( ' ',s7.find("@"))]

'uct.ac.za'

In [119]:
s7.find("@")

21

In [122]:
s7.find(" ",s7.find("@"))

31

In [106]:
s7[s:31]

'@uct.ac.za'